In [2]:
import pandas as pd
import numpy as np
from sklearn import linear_model
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn import preprocessing
from termcolor import colored as cl

In [ ]:
df = pd.read_csv('../data/residence.csv',sep=";", index_col=False)
df

In [4]:
# transform the data and specify prediction parameters

# Encode the house type from string to integer
label_enc =preprocessing.LabelEncoder()
df['house_type'] = label_enc.fit_transform(df['house_type'].astype(str))
# Encode the house energy from string to integer
df['house_energy'] = label_enc.fit_transform(df['house_energy'].astype(str))
# Set zip for more precise predictions 
df = df.loc[df['house_zip_code'].isin([2900, 2920, 2930, 2820, 2930, 2960, 2950])]


# Set type for more precise predictions
#df = df.loc[df['house_type'] == 2]

#Data
df_x = df[['house_type','house_zip_code', 'house_rooms', 'house_square_meters',
       'house_year', 'house_taxes', 'house_energy', 'house_ground_area']]
#Target
df_y = df[['house_price']]

#df_y
#df_x
#df

       house_type  house_zip_code  house_rooms  house_square_meters  \
118             0            2920            1                 46.0
160             2            2920            4                150.0
262             2            2920            7                245.0
344             2            2930            4                150.0
365             2            2960           14                514.0
...           ...             ...          ...                  ...
18563           2            2960            9                339.0
18826           2            2930            5                248.0
18950           2            2900            8                360.0
20571           2            2960            8                254.0
20872           2            2820            8                279.0

       house_year  house_taxes  house_energy  house_ground_area  house_price
118            68         2067             8               2575      1550000
160           143         5292             8                569     11000000
262            87         9104             9                818     15750000
344             0         7373             3                258     19500000
365           121        21094             7               1632     32000000
...           ...          ...           ...                ...          ...
18563         122        11884             9               1742     18900000
18826          12        14158             5               1509     21000000
18950         105        12290             9               1676     15345000
20571          50         8424             7               1071      9495000
20872          87         5078             9               1260      8750000

[239 rows x 9 columns]

In [4]:
# initialize the linear model
reg = linear_model.LinearRegression()

In [5]:
x_train, x_test, y_train, y_test = train_test_split(df_x, df_y, test_size=0.20, random_state=0)

In [6]:
#print(x_test)

In [7]:
#Normalize

# fit scaler on training data
norm = MinMaxScaler().fit(x_train)


# transform training data
x_train_norm = norm.transform(x_train)


# transform testing dataa
x_test_norm = norm.transform(x_test)

#print(x_test_norm)

In [8]:
#Standardize
from sklearn.preprocessing import StandardScaler

scale= StandardScaler()
 
# standardization of dependent variables
x_train_std = scale.fit_transform(x_train)
x_test_std = scale.fit_transform(x_test) 
#print(x_train_std)
#print(x_test)
#print(y_train)

In [9]:
#reg.fit(x_train, y_train)
#reg.fit(x_train_std, y_train)
reg.fit(x_train_norm, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [10]:
# predictions
#pred = reg.predict(testing_df)
#pred = reg.predict(x_test)
#pred = reg.predict(x_test_std)
pred = reg.predict(x_test_norm)
print(pred)

[[12232947.125659  ]
 [ 7884624.51525044]
 [ 8994843.69329695]
 [12780222.02513228]
 [ 8586948.05414068]
 [11459243.41453844]
 [11446738.2394772 ]
 [19958953.50802452]
 [10756106.06932028]
 [ 8882555.16656018]
 [10270171.85529695]
 [20823398.05263443]
 [23767307.45203722]
 [11371964.30799137]
 [ 8238421.00622358]
 [ 9440503.7892747 ]
 [14059745.33029678]
 [12839511.68552671]
 [16406953.40803985]
 [ 9272889.45210449]
 [14757643.04671654]
 [17003779.21656344]
 [32672096.03283035]
 [ 9922164.31628607]
 [10821931.90016977]
 [11222746.6206857 ]
 [13311637.38278809]
 [18698564.64452708]
 [11867635.59262971]
 [13753175.31055786]
 [11440124.59846444]
 [ 6978385.25908058]
 [ 5877570.431905  ]
 [ 5819053.4025773 ]
 [10402802.15431893]
 [12395140.42356152]
 [19990461.46824702]
 [13460193.59619833]
 [12376662.82294548]
 [ 4898642.63458235]
 [ 5858235.27974805]
 [21305087.28096028]
 [ 8759843.63320451]
 [ 6605615.39046759]
 [ 6649341.21989467]
 [20527561.0216069 ]
 [ 9594372.86016322]
 [17062154.79672085]]

In [11]:
y_test

       house_price
11209     11995000
9933       5995000
6667      10750000
6829      10750000
8254       7995000
16143      8950000
7842      12950000
14477     23800000
3310      11750000
12177      4845000
7590       8250000
11169     34000000
15018     14250000
6492      10295000
11047      7495000
10147      6495000
11245     12995000
6705      16995000
11464     22500000
897        8800000
3747      23000000
5626      13750000
5602      24800000
520        7995000
2163      13995000
2922      11800000
10305     12500000
1018      19995000
6719      18250000
8585      21000000
15535      7995000
7205       4295000
13876      5995000
13481      3795000
3253       9995000
11810     16800000
10605     17750000
13958     14995000
5274      12500000
6108       2295000
5044       1865000
1464      22750000
9840       5750000
1278       6000000
4439       4299000
894       19995000
12616      6250000
10648     19995000

In [12]:
reg.score(x_test_norm, y_test)
#reg.score(x_test_std, y_test)

0.6744548597716886