In [48]:
import pandas as pd
import numpy as np
from sklearn import linear_model
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn import preprocessing

In [65]:
# load the data set
df = pd.read_csv('../data/residence.csv',sep=";", index_col=False)  
df

,house_type,house_zip_code,house_rooms,house_square_meters,house_year,house_price
0,Andelsbolig,6270,3,100.0,1995,153289
1,Villa,6430,3,89.0,1900,275000
2,Fritidshus,8410,0,28.0,1970,349000
3,Fritidshus,4942,2,36.0,1970,385000
4,Villa,4900,3,75.0,1880,395000
...,...,...,...,...,...,...
4422,Rækkehus,4241,2,63.0,1987,970000
4423,Fritidshus,8500,3,60.0,1953,975000
4424,Villa,9990,5,146.0,1977,975000
4425,Villa,9690,5,213.0,1918,985000
4426,Fritidshus,8950,6,94.0,1989,995000

In [77]:
# transform the data so that we only calculate predictions on givin ZIP


df = df.loc[df['house_zip_code'] == 3400]

label_enc =preprocessing.LabelEncoder()
df['house_type'] = label_enc.fit_transform(df['house_type'].astype(str))


#Data
df_x = df[['house_zip_code', 'house_rooms', 'house_square_meters',
       'house_year']]
#Target
df_y = df[['house_price']]

#df_y
df_x
#df

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

      house_zip_code  house_rooms  house_square_meters  house_year
245             3400            4                104.0        2021
303             3400            5                128.0        2017
751             3400            4                128.0        1979
772             3400            4                127.0        1986
1164            3400            4                119.0        2005
1189            3400            6                180.0        1965
1191            3400            6                162.0        1964
1709            3400            4                124.0        1927
2440            3400            3                 70.0        1939
2474            3400            5                168.0        1970
2509            3400            5                146.0        2007
2866            3400            3                 94.0        2009
2900            3400            4                110.0        1932
3292            3400            3                106.0        2007
3395            3400            8                171.0        1912
3988            3400            3                108.0        2015
4004            3400            5                140.0        1970
4009            3400            6                175.0        1973

In [78]:
# initialize the linear model
reg = linear_model.LinearRegression()

In [79]:
x_train, x_test, y_train, y_test = train_test_split(df_x, df_y, test_size=0.33, random_state=42 )

In [80]:
# fit scaler on training data
norm = MinMaxScaler().fit(x_train)


# transform training data
x_train_norm = norm.transform(x_train)


# transform testing dataa
x_test_norm = norm.transform(x_test)

In [87]:
print(x_train_norm)

[[0.         0.4        0.56790123 0.5631068 ]
 [0.         0.         0.17283951 1.        ]
 [0.         0.         0.         0.94174757]
 [0.         0.2        0.41975309 0.65048544]
 [0.         0.4        0.91358025 0.5631068 ]
 [0.         0.6        1.         0.59223301]
 [0.         0.2        0.30864198 0.90291262]
 [0.         0.2        0.19753086 0.19417476]
 [0.         0.2        0.37037037 0.14563107]
 [0.         0.4        0.64197531 0.9223301 ]
 [0.         1.         0.95061728 0.        ]
 [0.         0.6        0.83950617 0.50485437]]

In [88]:
print(y_train)

      house_price
4004      4150000
3988      3895000
2866      3595000
751       3795000
2474      4195000
4009      4245000
1164      3645000
2900      4495000
1709      4495000
2509      5150000
3395      4995000
1191      4495000

In [83]:
reg.fit(x_train_norm, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [89]:
data = [[0, 0.2, 0.41975309, 0.65048544]]
testing_df = pd.DataFrame (data, columns = ['house_zip_code','house_rooms', 'house_square_meters', 'house_year'])
testing_df
# result should be 37

   house_zip_code  house_rooms  house_square_meters  house_year
0               0          0.2             0.419753    0.650485

In [91]:
# predictions
pred = reg.predict(testing_df)
print(pred)

[[4098607.1390839]]

In [85]:
y_test

      house_price
245       2995000
303       3995000
2440      3695000
1189      4495000
772       4095000
3292      4450000

In [92]:
print(np.mean((pred - y_test)**2))

house_price    2.786999e+11
dtype: float64