In [1]:
import pandas as pd
import numpy as np
#import webscraper as ws
from sklearn import linear_model
from sklearn import preprocessing
from sklearn.model_selection import train_test_split

In [2]:
#list = ws.get_all_residences_to_list()
#ws.residences_to_csv(list, "../data/residence.csv")

In [3]:
# Load our webscraped data on houses
residence_data = pd.read_csv('../data/residence.csv',sep=";", index_col=False)

In [4]:
# Converting the data values from string to int for readability
label_enc =preprocessing.LabelEncoder()
residence_data['house_type'] = label_enc.fit_transform(residence_data['house_type'].astype(str))
residence_data

,house_type,house_zip_code,house_rooms,house_square_meters,house_year,house_price
0,4,7870,4,89.0,1960,195000
1,4,7770,4,140.0,1877,325000
2,1,8930,1,42.0,1969,345000
3,0,5464,3,86.0,1992,360173
4,0,8600,3,80.0,2005,365000
...,...,...,...,...,...,...
14024,4,5450,4,112.0,1957,1195000
14025,2,2640,2,50.0,1981,1195000
14026,4,6780,5,133.0,1979,1245000
14027,4,4262,8,219.0,1898,1345000
14028,4,9600,3,85.0,1962,1345000

In [5]:
# data = data or the independent variables also know as x values
# feature_names = the column names of the data
# target = the target variable or the price of the houses or dependent variable also know as the y value

df_x_nn = residence_data.drop('house_price', axis=1)
df_y = pd.DataFrame(residence_data['house_price'])

df_x_nono = preprocessing.normalize(df_x_nn)
df_x = pd.DataFrame (df_x_nono, columns = ['house_type','house_zip_code','house_rooms', 'house_square_meters', 'house_year'])
print(df_x)
print(df_y)

       house_type  house_zip_code  house_rooms  house_square_meters  \
0        0.000493        0.970301     0.000493             0.010973
1        0.000500        0.971891     0.000500             0.017512
2        0.000109        0.976533     0.000109             0.004593
3        0.000000        0.939409     0.000516             0.014786
4        0.000000        0.973843     0.000340             0.009059
...           ...             ...          ...                  ...
14024    0.000691        0.940986     0.000691             0.019338
14025    0.000606        0.799762     0.000606             0.015147
14026    0.000566        0.959772     0.000708             0.018827
14027    0.000856        0.912504     0.001713             0.046888
14028    0.000408        0.979711     0.000306             0.008675

       house_year
0        0.241651
1        0.234780
2        0.215318
3        0.342479
4        0.227041
...           ...
14024    0.337892
14025    0.600125
14026    0.280146
14027    0.406366
14028    0.200228

[14029 rows x 5 columns]
       house_price
0           195000
1           325000
2           345000
3           360173
4           365000
...            ...
14024      1195000
14025      1195000
14026      1245000
14027      1345000
14028      1345000

[14029 rows x 1 columns]

In [6]:
# Get statistics from the data set, count, mean
df_x.describe()

,house_type,house_zip_code,house_rooms,house_square_meters,house_year
count,14029.000000,14029.000000,14029.000000,14029.000000,14029.000000
mean,0.000519,0.917216,0.000774,0.022757,0.360753
std,0.000286,0.075294,0.000426,0.013514,0.149005
min,0.000000,0.461309,0.000000,0.000189,0.125421
25%,0.000316,0.889920,0.000500,0.013728,0.230836
50%,0.000453,0.949613,0.000673,0.019537,0.312541
75%,0.000672,0.972874,0.000964,0.028264,0.454963
max,0.001806,0.992084,0.012227,0.193555,0.886613

In [7]:
# Initialize the linear regression model
reg = linear_model.LinearRegression()

In [8]:
# This splits the data into the 67% and the testing data to 20%
x_train, x_test, y_train, y_test = train_test_split(df_x, df_y, test_size= 0.20, random_state= 42)

In [9]:
# Train the model with out training data
reg.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [10]:
# Print the coeffecients/weights for each feature/column of our model
print(reg.coef_)

[[-7.80928861e+08 -2.65289808e+07  1.71646393e+08  1.24516005e+08
  -1.13483959e+07]]

In [17]:
# Print the predictions on our test data
data = [[0.000408, 0.979711, 0.000306, 0.008675, 0.200228]]
testing_frame = pd.DataFrame (data, columns = ['house_type','house_zip_code','house_rooms', 'house_square_meters', 'house_year'])
#print(testing_frame)
y_pred = reg.predict(testing_frame)
print(y_pred)
#Logistik reggression

[[1164568.53067172]]

In [12]:
# Print the actual values
print(y_test)

      house_price
7142      1585000
9669      4995000
3111      1298000
327       2895000
4098       795000
...           ...
3455      1698000
8765      4150000
4747      3495000
4947      1875000
6778      2595000

[2806 rows x 1 columns]

In [13]:
# Check the model performance / accuracy using Mean Squared Error(MSE)
print(np.mean((y_pred - y_test)**2))

house_price    7.976789e+12
dtype: float64