In [2]:
import pandas as pd
import numpy as np
from sklearn import linear_model
from sklearn.model_selection import train_test_split

In [3]:
# load the boston data set

from sklearn.datasets import load_boston
boston = load_boston()

In [24]:
# transform the data set into data frame

df_x = pd.DataFrame(boston.data, columns=boston.feature_names)
df_y = pd.DataFrame(boston.target)
df_y

        0
0    24.0
1    21.6
2    34.7
3    33.4
4    36.2
..    ...
501  22.4
502  20.6
503  23.9
504  22.0
505  11.9

[506 rows x 1 columns]

In [5]:
# get som statistics from the data set, count, mean
#df_x.describe()

In [6]:
# initialize the linear model
reg = linear_model.LinearRegression()

In [7]:
x_train, x_test, y_train, y_test = train_test_split(df_x, df_y, test_size=0.33, random_state=42 )

In [8]:
reg.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [9]:
df_y

        0
0    24.0
1    21.6
2    34.7
3    33.4
4    36.2
..    ...
501  22.4
502  20.6
503  23.9
504  22.0
505  11.9

[506 rows x 1 columns]

In [10]:
data = [[0.06263, 0.0, 11.93, 0.0, 0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67 ]]
testing_frame = pd.DataFrame (data, columns = ["CRIM","ZN","INDUS","CHAS","NOX","RM","AGE","DIS","RAD","TAX","PTRATIO","B","LSTAT"])
testing_frame
# result should be 22.4

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67

In [18]:
# predictions
pred = reg.predict(testing_frame)
print(pred)

[[23.87721728]]

In [20]:
print(pred)

[[23.87721728]]

In [23]:
print(y_test)

        0
173  23.6
274  32.4
491  13.6
72   22.8
452  16.1
..    ...
110  21.7
321  23.1
265  22.8
29   21.0
262  48.8

[167 rows x 1 columns]

In [38]:
print(np.mean((pred- y_test)**2))

0    20.724023
dtype: float64