In [7]:
import pandas as pd
import numpy as np
#import webscraper as ws
from sklearn import linear_model
from sklearn import preprocessing
from sklearn.model_selection import train_test_split

In [8]:
#list = ws.get_all_residences_to_list()
#ws.residences_to_csv(list, "../data/residence.csv")

In [9]:
# Load our webscraped data on houses
residence_data = pd.read_csv('../data/residence.csv',sep=";", index_col=False)

In [51]:
# Converting the data values from string to int for readability
label_enc =preprocessing.LabelEncoder()
residence_data['house_type'] = label_enc.fit_transform(residence_data['house_type'].astype(str))
residence_data

,house_type,house_zip_code,house_rooms,house_square_meters,house_year,house_price
0,4,7870,4,89.0,1960,195000
1,4,7770,4,140.0,1877,325000
2,1,8930,1,42.0,1969,345000
3,0,5464,3,86.0,1992,360173
4,0,8600,3,80.0,2005,365000
...,...,...,...,...,...,...
14024,4,5450,4,112.0,1957,1195000
14025,2,2640,2,50.0,1981,1195000
14026,4,6780,5,133.0,1979,1245000
14027,4,4262,8,219.0,1898,1345000
14028,4,9600,3,85.0,1962,1345000

In [47]:
# data = data or the independent variables also know as x values
# feature_names = the column names of the data
# target = the target variable or the price of the houses or dependent variable also know as the y value

df_x = residence_data.drop('house_price', axis=1)
df_y = pd.DataFrame(residence_data['house_price'])

df_x = preprocessing.normalize(df_x)
df_x = pd.DataFrame (df_x, columns = ['house_type','house_zip_code','house_rooms', 'house_square_meters', 'house_year'])
print(df_x)
print(df_y)

       house_type  house_zip_code  house_rooms  house_square_meters  \
0        0.000493        0.970301     0.000493             0.010973
1        0.000500        0.971891     0.000500             0.017512
2        0.000109        0.976533     0.000109             0.004593
3        0.000000        0.939409     0.000516             0.014786
4        0.000000        0.973843     0.000340             0.009059
...           ...             ...          ...                  ...
14024    0.000691        0.940986     0.000691             0.019338
14025    0.000606        0.799762     0.000606             0.015147
14026    0.000566        0.959772     0.000708             0.018827
14027    0.000856        0.912504     0.001713             0.046888
14028    0.000408        0.979711     0.000306             0.008675

       house_year
0        0.241651
1        0.234780
2        0.215318
3        0.342479
4        0.227041
...           ...
14024    0.337892
14025    0.600125
14026    0.280146
14027    0.406366
14028    0.200228

[14029 rows x 5 columns]
       house_price
0           195000
1           325000
2           345000
3           360173
4           365000
...            ...
14024      1195000
14025      1195000
14026      1245000
14027      1345000
14028      1345000

[14029 rows x 1 columns]

In [37]:
# Get statistics from the data set, count, mean
df_x.describe()

,house_type,house_zip_code,house_rooms,house_square_meters,house_year
count,14029.000000,14029.000000,14029.000000,14029.000000,14029.000000
mean,2.958443,5933.672963,4.304583,126.982857,1957.282486
std,1.283929,2432.517338,1.747243,58.293110,46.333736
min,0.000000,1025.000000,0.000000,1.500000,1200.000000
25%,2.000000,3760.000000,3.000000,85.000000,1935.000000
50%,4.000000,5932.000000,4.000000,120.000000,1967.000000
75%,4.000000,8305.000000,5.000000,158.000000,1984.000000
max,5.000000,9990.000000,71.000000,909.000000,2023.000000

In [54]:
# Initialize the linear regression model
reg = linear_model.LinearRegression()

In [55]:
# This splits the data into the 67% and the testing data to 33%
x_train, x_test, y_train, y_test = train_test_split(df_x, df_y, test_size= 0.33, random_state= 42)

In [56]:
x_test

,house_type,house_zip_code,house_rooms,house_square_meters,house_year
7142,0.000625,0.952869,0.000937,0.033897,0.301481
9669,0.000404,0.916914,0.001010,0.025447,0.398272
3111,0.000207,0.978882,0.000310,0.005679,0.204347
327,0.000464,0.973327,0.000697,0.015792,0.228875
4098,0.000763,0.930908,0.000763,0.019458,0.364733
...,...,...,...,...,...
7884,0.000390,0.923085,0.000585,0.013449,0.384359
12723,0.000487,0.971934,0.000608,0.016787,0.234651
9006,0.000795,0.918396,0.001192,0.029799,0.394535
5697,0.000572,0.958912,0.000715,0.022437,0.282815
7695,0.000196,0.980515,0.000491,0.011582,0.196103

In [58]:
# Train the model with out training data
reg.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [59]:
# Print the coeffecients/weights for each feature/column of our model
print(reg.coef_)

[[-7.69003912e+08 -2.67381280e+07  1.33583420e+08  1.25397130e+08
  -1.14735125e+07]]

In [60]:
# Print the predictions on our test data
data = [[0.000408, 0.979711, 0.000306, 0.008675, 0.200228]]
testing_frame = pd.DataFrame (data, columns = ['house_type','house_zip_code','house_rooms', 'house_square_meters', 'house_year'])
#print(testing_frame)
y_pred = reg.predict(x_test)
print(y_pred)
#Logistik reggression

[[3821786.90854741]
 [2792625.22434853]
 [ 940128.99905458]
 ...
 [3065373.69877914]
 [2448415.76122108]
 [1763244.31589416]]

In [61]:
# Print the actual values
print(y_test)

       house_price
7142       1585000
9669       4995000
3111       1298000
327        2895000
4098        795000
...            ...
7884       1750000
12723       300000
9006       2995000
5697       2148000
7695       3995000

[4630 rows x 1 columns]

In [62]:
# Check the model performance / accuracy using Mean Squared Error(MSE)
print(np.mean((y_pred - y_test)**2))

house_price    3.859435e+12
dtype: float64