In [2]:
import pandas as pd
import numpy as np
from sklearn import linear_model
from sklearn.model_selection import train_test_split

In [4]:
# load the data set
df = pd.read_csv('../data/residence.csv',sep=";", index_col=False)

In [10]:
# transform the data so that we only calculate predictions on givin ZIP
df_x = df.loc[df['house_zip_code'] == 3400]



#df_x = pd.DataFrame(boston.data, columns=boston.feature_names)
#df_y = pd.DataFrame(boston.target)
df_x

,house_type,house_zip_code,house_rooms,house_square_meters,house_year,house_price
373,Villa,3400,4,128.0,1979,3795000
394,Rækkehus,3400,4,127.0,1986,4095000
787,Villa,3400,4,119.0,2005,3645000
812,Villa,3400,6,180.0,1965,4495000
814,Rækkehus,3400,6,162.0,1964,4495000
...,...,...,...,...,...,...
13933,Rækkehus,3400,4,114.0,2021,3595000
13934,Rækkehus,3400,3,111.0,2021,3645000
13936,Rækkehus,3400,4,122.0,2021,3695000
13937,Rækkehus,3400,3,114.0,2021,3745000
13970,Villa,3400,10,167.0,1959,5995000

In [19]:
# get som statistics from the data set, count, mean
#df_x.describe()

In [22]:
# initialize the linear model
reg = linear_model.LinearRegression()

In [25]:
x_train, x_test, y_train, y_test = train_test_split(df_x, df_y, test_size=0.33, random_state=42 )

In [44]:
reg.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [49]:
df_y

        0
0    24.0
1    21.6
2    34.7
3    33.4
4    36.2
..    ...
501  22.4
502  20.6
503  23.9
504  22.0
505  11.9

[506 rows x 1 columns]

In [48]:
data = [[0.06263, 0.0, 11.93, 0.0, 0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67 ]]
testing_frame = pd.DataFrame (data, columns = ["CRIM","ZN","INDUS","CHAS","NOX","RM","AGE","DIS","RAD","TAX","PTRATIO","B","LSTAT"])
testing_frame
# result should be 22.4

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67

In [39]:
# predictions
pred = reg.predict(x_test)
#print(pred)

In [40]:
#print(y_test)

In [38]:
print(np.mean((pred- y_test)**2))

0    20.724023
dtype: float64