In [9]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn import linear_model
from sklearn.model_selection import train_test_split

In [2]:
housing = pd.read_csv('../data/residence.csv',sep=";", index_col=False)
housing.head()

,house_type,house_zip_code,house_rooms,house_square_meters,house_year,house_price
0,Villa,7870,4,89.0,1960,195000
1,Villa,7770,4,140.0,1877,325000
2,Ejerlejlighed,8930,1,42.0,1969,345000
3,Andelsbolig,5464,3,86.0,1992,360173
4,Andelsbolig,8600,3,80.0,2005,365000

In [3]:
X = housing[['house_zip_code', 'house_rooms', 'house_square_meters',
       'house_year']].apply(pd.Float64Index) 

y = housing[['house_price']].apply(pd.Float64Index)

In [4]:

#Splitting the data into 70% Training data nad 30% test data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [15]:
reg = linear_model.LinearRegression()

In [16]:
reg.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [24]:
y_pred = reg.predict(X_test)

In [27]:
print(y_pred)

[[4205686.76284829]
 [3426588.9140779 ]
 [  -7684.00187227]
 ...
 [3696715.95376353]
 [3735540.72479995]
 [3105748.51349962]]

In [28]:
print(y_test)

       house_price
7142     1585000.0
9669     4995000.0
3111     1298000.0
327      2895000.0
4098      795000.0
...            ...
5107    12500000.0
5318     1795000.0
10        445000.0
10120    3750000.0
11044    2895000.0

[4209 rows x 1 columns]

In [19]:
print('Interccept: \n', reg.intercept_)

Interccept:
 [-9145743.60237708]

In [22]:
print('Coefficients: \n', reg.coef_)

Coefficients:
 [[  -436.79275813 -18806.12857157  19120.8149483    6206.98762562]]